'scopeName': 'source.cr-basic'
'name': 'CR-Basic'
'fileTypes': ['CR1', 'cr1']
'patterns': [
  {
      "match": "\\b(StationName|Const|Dim|Alias|Units|DataTable|EndTable|Sub|EndSub|If|EndIf|Then|Else|BeginProg|For|Step|Next|Call|Scan|NextScan|SlowSequence|EndSequence|EndProg|Do|While|Loop|ExitFor|As)\\b",
      "name": "keyword.control.cr-basic"
  }
  {
      "match": "\\b(NULL|true|false|TRUE|FALSE)\\b",
      "name": "constant.language.cr-basic"
  }
  {
      "match": "\\b((&(b|B)[0-1]*)(&(h|H)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\\b",
      "name": "constant.numeric.cr-basic"
  }
  {
      "match": "\\b(String|Boolean|Long|FP2|IEEE4|UNIT2|UINT4)\\b",
      "name": "support.type.cr-basic"
  }
  {
      "match": "\\b(SerialOpen|SerialOut|SerialIn|SerialOutBlock|SerialClose|SetStatus|PortSet|CallTable|DataInterval|TableFile|Average|Maximum|FieldNames|Totalize|Minimum|CardOut|WindVector|DataEvent|Sample|TimeIntoInterval|FileOpen|FileRead|FileClose|NaN|CheckSum|CHR|Trim)\\b",
      "name": "support.function.cr-basic"
  }
  {
      "match": "\\b(AND|OR|>|<|>>|<<|=)\\b",
      "name": "keyword.operator.cr-basic"
  }
  {
      "match": "\\'.*\\n",
      "name": "comment.block.cr-basic"
  }
]
